<!DOCTYPE html>
<html>
	<head>
		<title>Sample SinatraAPP</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/signin.css">
		<link href="stylesheets/main.css" rel="stylesheet" media="screen">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<style media="screen">
		</style>
	</head>
	<body>
			<main>
			<div class="container"><%= yield %></div>
		</main>
		<script src="javascripts/main.js"></script>
	</body>
</html>
