    <!DOCTYPE html>
    <html>
        <head>
            <title>Biblioteca Virtual</title>
            <link rel="icon" href="/svg/si-glyph-book-3.svg">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/signin.css">
            <link href="/stylesheets/main.css" rel="stylesheet" media="screen">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <script src="javascripts/main.js">
                $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
            </script>
            <style media="screen">
            </style>
        </head>
        <body>
            <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
                <span class="navbar-toggler-icon leftmenutrigger"></span>
                <a class="navbar-brand" href="/paineladm">HOME</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav animate side-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/paineladm">Biblioteca
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/paineladm/lista-cliente">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/paineladm/lista-livro">Livros</a>
                        </li>
                    </ul>
                </div>
            </nav>
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <ul>
                                    <li><img class="rounded mx-auto d-block" src="/svg/si-glyph-book-3.svg" alt="Livro_ic"/></li>
                                    <li><a href="/paineladm/lista-livro"><button type="button" class="btn btn-primary"> Listar Livros </button></a></li>
                                    <li><a href="/paineladm/cadastra-livro"><button type="button" class="btn btn-primary"> Cadastrar Livros </button></a></li>
                                    <li><img class="rounded mx-auto d-block" src="/svg/si-glyph-person.svg" alt="Cliente_ic"/></li>
                                    <li><a href="/paineladm/lista-cliente"><button type="button" class="btn btn-primary">Listar Clientes</button></a> </li>
                                    <li><a href="/paineladm/cadastra-cliente"><button type="button" class="btn btn-primary"> Cadastrar Clientes </button></a></li>
                                </ul>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <main><%= yield %></main>
                            </div>
                        </div>
                      </div>
                    </div>
            </div>
        </body>
    </html>
