                <!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir este item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sim</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Nao</button>
      </div>
    </div>
  </div>
</div>

<h5 class="card-title">Lista de Clientes</h5>
<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cpf</th>
        <th scope="col">Email</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Patrick</td>
            <td>012.456.852-44</td>
            <td>patrick@mail.com</td>
            <td>
                <a class="btn btn-warning btn-xs" href="#">Editar</a>
            </td>
            <td>

                <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Josue</td>
            <td>022.728.633-40</td>
            <td>josue@mail.com</td>
            <td>
                <a class="btn btn-warning btn-xs" href="#">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger btn-xs" href="#">Excluir</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Tarcisio</td>
            <td>052.257.188-09</td>
            <td>tarcisio@mail.com</td>
            <td>
                <a class="btn btn-warning btn-xs" href="#">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger btn-xs" href="#">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>
