<h5 class="card-title">Lista de Clientes</h5>
<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cpf</th>
        <th scope="col">Email</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Patrick</td>
            <td>012.456.852-44</td>
            <td>patrick@mail.com</td>
            <td>
                <a class="btn btn-warning btn-xs" href="#">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger btn-xs" href="#">Excluir</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Josue</td>
            <td>022.728.633-40</td>
            <td>josue@mail.com</td>
            <td>
                <a class="btn btn-warning btn-xs" href="#">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger btn-xs" href="#">Excluir</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Tarcisio</td>
            <td>052.257.188-09</td>
            <td>tarcisio@mail.com</td>
            <td>
                <a class="btn btn-warning btn-xs" href="#">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger btn-xs" href="#">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>
