<div class="container">
	<div class="text-center">
			<form class="form-signin">
				<img class="mb-4" src="images/index.png" alt="" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">Acessar Biblioteca</h1>
				<label for="inputEmail" class="sr-only">Endereço de Email</label>
				
			</form>
	</div>
</div>
