<!DOCTYPE html>
<html>
	<head>
		<title>Sample SinatraAPP</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/signin.css">
		<link href="stylesheets/main.css" rel="stylesheet" media="screen">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<style media="screen">
		</style>
	</head>
	<body>
			<main>
			<div class="container">
        <div class="text-center">
            <form class="form-signin">
              <img class="mb-4" src="images/index.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">Acessar Biblioteca</h1>
              <label for="inputEmail" class="sr-only">Endereço de Email</label>
              <input id="inputEmail" class="form-control" placeholder="Endereço de Email" required="" autofocus="" type="email">
              <label for="inputPassword" class="sr-only">Senha</label>
              <input id="inputPassword" class="form-control" placeholder="Senha" required="" type="password">
              <div class="checkbox mb-3">
                <label>
                  <input value="remember-me" type="checkbox"> Lembrar-me
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
              <p class="mt-5 mb-3 text-muted">© NENEMMATADOR PATRICK E JOSUCA</p>
            </form>
        </div>
      </div>
		</main>
		<script src="javascripts/main.js"></script>
	</body>
</html>
