<!-- <div class="left-menu"> -->




<div class="row">
  <div class="col-md-3">
    <ul>
    <li><button type="button" class="btn btn-primary"> Livro </button></li>
    <li><button type="button" class="btn btn-secondary"> Cliente </button></li>
    </ul>
  </div>

  <div class="col-md-9">
    <div class="row navbar-toggler">
      <h1>--- Listagem ---</h1>
    </div>
    <div class="row">
      <h1>--- Listagem ---</h1>
      <main><%= yield %></main>
    </div>

  </div>
</div>
