<!-- <div class="left-menu"> -->




<div class="row">
  <div class="col-md-4">
    <ul>
    <li><button type="button" class="btn btn-primary"> Livro </button></li>
    <li>  <button type="button" class="btn btn-secondary"> Cliente </button></li>
    </ul>

  </div>
  <div class="col-md-8">
      <h1>Cadastro</h1>
  </div>
</div>
